@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Santo Domingo<br />
    Dominican Republic<br />
    <abbr title="Twitter">Twitter:</abbr>
    <a href="http://twitter.com/almobizz">@@almobizz</a>
</address>

<address>
    <strong>Web:</strong>   <a href="http://almobizz.com">http://almobizz.com</a><br />
    
</address>