@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Azure Explorer</h1>
    <p class="lead">The main goal of this project is to show the way you can browse the azure blob storage files</p>
    <p><a target="_blank" href="https://azure.microsoft.com/en-us/documentation/articles/storage-dotnet-how-to-use-blobs/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

